.homeContainer{
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;  
  height: 65vh;
  width: 75%;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  border: solid #000 1px;
}

.home1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  border: solid #d32020 1px;
}

.homeProfile{
  flex: .4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: solid #000 1px;*/
}

.profilePic{
  width: 200px; /* o el tamaño que quieras */
  height: 200px;
  object-fit: cover; /* para que no se deforme */
  border-radius: 50%;  
  
}

.homeDetails{
  flex: 1.4;
  display: flex;
  flex-direction:column;
  justify-content:end;
  margin-bottom: 3%;
  width: 100%;
  /*border: 1px solid #000;*/
}


.homeTitle{
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: 28px;  
  
}

.contactSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  border: 1px solid #000;
}

.resumeBtn{
  background-color: #1a1a1c;
  color: aliceblue;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 5%;
  margin-left: 10%;
  width: 110px;
  height: 30px;
  cursor: pointer;
  font-size: large;
  
}
.homeResume{
  margin-top: 2%;
}

.navBarIcons{
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 1px solid #000;*/
    
}

.linkedInIcon{
  width: auto;
  height: 25px;
  color: #181717;
  margin-bottom: 5%;
}

.twitterIcon{
  width: auto;
  height: 25px;
  color: #181717;
  margin-bottom: 5%;
}

 .gitHubIcon{
  width: auto;
  height: 25px;
  color: #181717;
  margin-bottom: 5%;
}



